# figma-managed npm registry config start
@make-kits:registry=https://registry.figma.com/npm/b6651899-a286-4431-90e6-d5bf61271232/registry/
@noosa-design-system-1.0:registry=https://registry.figma.com/npm/b6651899-a286-4431-90e6-d5bf61271232/registry/
# figma-managed npm registry config end
